<!DOCTYPE html>
<html>
  <head>
    <title>Plorp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-900 text-slate-400">
    <p class="bg-yellow-500 bg-opacity-50 text-yellow-100 p-2"><%= notice %></p>
    <p class="bg-red-600 bg-opacity-40 text-red-100 p-2"><%= alert %></p>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
